{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article>
    <h1>{{ post.title }}</h1>
    <p class="post-meta">
        By {{ post.author.username }} | {{ post.published_date|date:"F d, Y" }}
    </p>
    <div class="post-content">
        {{ post.content|linebreaks }}
    </div>
    
    {% if user == post.author %}
    <div class="post-actions">
        <a href="{% url 'post_update' post.pk %}" class="btn">Edit</a>
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
    </div>
    {% endif %}
</article>
{% endblock %}